body {
    font: Roboto-Regular;
}

.home-title {
    font-weight: 500;
}

#drop-area {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    height: 400px;
    border-radius: 30px;
    text-align: center;
    transition: background-color 0.5s, border 0.5s;
    border: 10px dashed #999;
}

.area-dscrp {
    margin: 0 0 10px 0;
    font-weight: bold;
    font-size: 20px;
    color: #999;
}

.drop-non-active {
    background-color: #e6e6e6;
}

.drop-active {
    background-color: #e6f2ff;
}
