html {
    /*This is a hack to solve the white space on the right side of the window*/
    overflow-x: hidden;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    transition: background-color 0.5s;
}

body.active {
    background-color: #e6f2ff;
}

main {
    flex: 1 0 auto;
    position: relative;
    min-height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.home-title {
    font-weight: 500;
}

.preloader-wrapper.tiny {
    width: 28px;
    height: 28px;
}

.h-center-b {
    margin: 0 auto;
}
#btn-ctn {
    float: right;
}

#file-list {
    transition: background-color 0.5s;
}

#msg-ctn {
    position: absolute;
    height: 200px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    font-size: 17px;
    color: #aaa;
}

#uploading-cover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 5;
}
