html {
    height: 100%;
}

body {
    position: relative;
    min-width: 980px;
    min-height: 100%;
    padding-bottom: 220px;
}

footer {
    position: absolute;
    bottom: 0;
}

.collection-header {
    vertical-align: middle;
}

.home-title {
    font-weight: 500;
}

#file-list {
    margin-top: 20px;
}

#drop-area {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    height: 400px;
    border-radius: 30px;
    text-align: center;
    transition: background-color 0.5s, border 0.5s;
    border: 10px dashed #999;
}

#download {
    visibility: hidden;
}

.area-dscrp {
    margin: 0 0 10px 0;
    font-weight: bold;
    font-size: 20px;
    color: #999;
}

.drop-non-active {
    background-color: #e6e6e6;
}

.drop-active {
    background-color: #e6f2ff;
}
