{% comment %} ???Should I use Form class or not {% endcomment %}
<!---->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>PDF Recuder</title>
  <link rel="stylesheet" href="{% static 'pdf_reducer_web_app/stylesheets/materialize.min.css' %}">
  <link rel="stylesheet" href="{% static 'pdf_reducer_web_app/stylesheets/s.css' %}">
  <link rel="stylesheet" href="{% static 'pdf_reducer_web_app/fonts/roboto/Roboto-Regular.ttf' %}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script defer type="text/javascript" src="{% static 'pdf_reducer_web_app/scripts/jquery-3.1.1.min.js' %}"></script>
  <script defer type="text/javascript" src="{% static 'pdf_reducer_web_app/scripts/materialize.min.js' %}"></script>
  <script defer type="text/javascript" src="{% static 'pdf_reducer_web_app/scripts/file-dialog.js' %}"></script>
  <script defer type="text/javascript" src="{% static 'pdf_reducer_web_app/scripts/utils.js' %}"></script>
</head>

<body>
  <header>
    <nav class="red">
      <div class="container">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo home-title">PDF Reducer</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="index.html">Home</a></li>
            <li><a href="https://github.com/qwang70/pdf_reducer_web_service">About</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main>
    {% csrf_token %}
    <div class="container">
      <div id="uploading-cover" class="valign-wrapper">
        <div class="preloader-wrapper big active h-center-b">
          <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>
      <ul id="file-list" class="collection">
      </ul>
      <div id="msg-ctn">
        <p class="empty-msg">Upload your files via the + button or drag your files here!</p>
        <i class="large material-icons">input</i>
      </div>
      <div id="btn-ctn">
        <a id="download-btn" class="waves-effect waves-teal btn">download</a>
        <a id="reduce-btn" class="waves-effect waves-light btn">reduce</a>
        <a id="merge-btn" class="waves-effect waves-light btn">merge</a>
      </div>
      <div class="fixed-action-btn">
        <a id="FOB" class="btn-floating btn-large tooltipped" data-position="left" data-delay="50" data-tooltip="Add files">
          <i class="large material-icons">add</i>
        </a>
      </div>
    </div>
  </main>
  <footer class="page-footer red">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <h5 class="white-text">Enjoy This Web App?</h5>
          <p class="grey-text text-lighten-4">Share it on facebook!
          </p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2017 Copyright
      </div>
    </div>
  </footer>
</body>

</html>
